body{
    box-sizing: border-box;
    background-color: #D13C98;
   
}

.myPhotos{
    height: 600px;
}


  
 
#bg-pseudo{
    height: 100%;
    width: 100%;
    background-image: url(../images/bg-pseudo.png);
    border-radius: 30px;
}
#profil{
    background-image: url(../images/bg-instagram.jpg);
    background-size: cover;
    display: block;
    border: solid;
    margin-top: 50px;
}
.border-myImage{
    height: 400px;
    width: 400px;
}
.myPhotos {
    overflow-x: auto;
    white-space: nowrap;
}

.myPhotos .row {
    margin: 0;
    font-size: 0; /* Remove inline-block space */
}

.myPhotos .col-4 {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: 16px; /* Reset font size for content */
}