<<<<<<< HEAD
body{
    box-sizing: border-box;
   
}
.myHead{
    height: 100px;
}
.myPhotos{
    height: 600px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
=======
#bg-pseudo{
    height: 100%;
    width: 100%;
    background-image: url(../bg-pseudo.png);
    border-radius: 30px;
  
}
>>>>>>> 21426c2daaf9dab9ec54e3c23772ac7547cae3ec
